#start-quiz {
    background: var(--background-color);
    width: 100vw;
    height: 100vh;
    position: relative;
    /* display: none; */
}

.btn-start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* QUIZ */
#container-quiz {
    background: var(--background-color);
    width: 100vw;
    height: 100vh;
    position: relative;
    display: none;
}

.quiz {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 600px;
    min-width: 360px;
    text-align: center;
    color: var(--text-color);
    /* display: none; */
    clip-path: polygon(0% 0%, 0 0, 0 50%, 0 100%, 0% 100%);
}

.quiz.active {
    clip-path: polygon(0% 0%, 100% 0%, 125% 50%, 100% 100%, 0% 100%);
    transition: clip-path 1s ease;
    /* display: block; */
}

.quiz__header {
    font-size: 20px;
    margin-bottom: 40px;
}

.quiz__question {
    margin-bottom: 40px;
}

.quiz__answers {
    margin-bottom: 40px;
}

.quiz__answer--item {
    text-align: start;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
    position: relative;
}

.quiz__answer--item.exactly {
    border-color: rgb(5, 175, 5);
    color: rgb(5, 175, 5);
}

.quiz__answer--item.wrong {
    border-color: red;
    color: red;
}

.quiz__answer--item:hover {
    transform: scale(0.9);
}

.quiz__answer--item:not(:last-child) {
    margin-bottom: 10px;
}

.quiz__answer--item input {
    /* display: none; */
    -webkit-appearance: none;
    cursor: pointer;
    /* width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    right: 10px;
    top:50%;
    transform: translateY(-50%); */
}

.quiz__answer--item input::before {
    content: "";
    position: absolute;
    background: transparent;
    border-radius: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* END */
#end-quiz {
    background: var(--background-color);
    width: 100vw;
    height: 100vh;
    position: relative;
    display: none;
}

.end-quiz__contain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    min-width: 350px;
    min-height: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.end-quiz__contain h1 {
    color: #000;
}